.dashboard-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  flex-direction: column;
  gap: 50px;
}

.menu li a {
  color: white;
}
