:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0; /***enleve les valeurs margin par default**/
  padding: 0; /***enleve les valeurs padding par default**/
  box-sizing: border-box; /***quand on fait padding 5% ca prend du 100% et non 105%**/
  text-decoration: none; /***supprime texte souligné pour les liens(a)**/
  list-style-type: none; /***supprime les cercles par default de list item**/
}
