.book-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  width: 200px;
  height: 300px;
  color: black;
  border: 3px solid grey;
  border-radius: 10px;
}
